<div class="top-message">
  <div class="title">
  <h1>プログラミング言語テスト</h1>
  </div>
  <div class="message">
  <p>プログラミング言語の特徴を覚えよう</p>
  </div>
</div>

<div class="top-button">

<%= button_to"サーバーサイド",{controller:'home',action:"serverside"}, {method: :get}%>
<%= button_to"フロントエンド",{controller:'home',action:"frontend"}, {method: :get}%>
<%= button_to"モバイル系",{controller:'home',action:"mobile"}, {method: :get}%>
<%= button_to"その他のプログラミング言語",{controller:'home',action:"mobile"}, {method: :get}%>
</div>